/* Note styles */
.Note {
    margin: 10px;
    padding: 5px;
    width: 40%;
    max-height: 30%;
    display: inline-flex;
    background-color: #7ed6df;
    border: 3px solid #22a6b3;
    border-radius: 5px;
    justify-content: flex-start;
}

